@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
  margin: 0 auto;
  background-color: #252525;
  font-family: Georgia, serif;
}

#navbar {
  border-top: 30px solid black;
  width: 100%;
  height: 10vh;
  background-color: #3f3f3f;
  padding-bottom: 0.5%;
}

#navbar .navigation {
  float: left;
  width: 70%;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid gray;
}

.navigation li:first-of-type {
  border-left: none;
  padding-left: 0;
  margin-left: 20;
}

.navigation p {
  margin: 0 auto;
}

.navigation .top {
  color: gray;
}

.navigation li:first-of-type .top {
  color: orange;
}

#navbar .social {
  float: right;
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
}

.social .button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-left: 10px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 20px;
  background-color: #232323;
}

.social .button:hover {
  background-color: orange;
}

.social .linkedin:before {
  font-family: "FontAwesome";
  content: "\f0e1";
}

.social .twitter:before {
  font-family: "FontAwesome";
  content: "\f099";
}

.social .pinterest:before {
  font-family: "FontAwesome";
  content: "\f0d2";
}

.social .gplus:before {
  font-family: "FontAwesome";
  content: "\f0d5";
}

.social .rss:before {
  font-family: "FontAwesome";
  content: "\f09e";
}

#header {
  width: 100%;
  height: 20vh;
  background-color: #252525;
  border-top: 1px solid gray;
  margin-top: 10px;
}

#header .title {
  width: 65%;
  height: 100%;
  margin: 0;
  margin-left: 20px;
  float: left;
}

.title h1 {
  font-size: 43px;
  color: white;
  font-weight: normal;
}

.title p {
  margin-left: 30px;
  color: gray;
}

.title h1,
.title p {
  display: inline;
  line-height: 275%;
}

#header .search {
  width: 30%;
  height: 100%;
  margin: 0;
  float: right;
}

.search .search-input {
  width: 70%;
  height: 30%;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  border: none;
  background-color: #3f3f3f;
  color: gray;
  padding-left: 10px;
}

.search .search-button {
  width: 7%;
  height: 6%;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  background-color: orange;
  color: white;
  margin-right: 20px;
  border: none;
  position: absolute;
}

#main-image {
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
}

#main-image img {
  height: 100%;
  width: 98%;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 50px 50px 0px 0px;
}

.border-orange {
  width: 100%;
  height: 20px;
  position: absolute;
  background-color: orange;
}

.border-white {
  width: 15%;
  height: 20px;
  margin-left: 16%;
  background-color: #efefef;
  position: absolute;
}

#content {
  background-color: white;
  border-left: 15px solid #e2e2e2;
  border-right: 15px solid #e2e2e2;
  overflow: hidden;
}

#content .header {
  height: 5%;
  background-color: #efefef;
  padding-top: 2%;
  padding-bottom: 0.5%;
  padding-left: 30px;
}

#content .title {
  text-align: center;
  padding-bottom: 2%;
}

.title .main {
  font-size: 550%;
  width: 100%;
  color: #dbdbdb;
  margin: 0;
  display: block;
  height: 30vh;
}

.title .secondary {
  width: 100%;
  font-size: 250%;
  line-height: 10vh;
  color: #939393;
  font-style: italic;
}

.title .secondary {
  quotes: "“" "”" "‘" "’";
}

.title .secondary::before {
  content: open-quote;
}

.title .secondary::after {
  content: close-quote;
}

.main-content {
  border-top: 1px solid gray;
  width: 94%;
  height: 80vh;
  margin-left: 3%;
  margin-right: 3%;
  border-bottom: 1px solid gray;
}

.section-header {
  text-align: left;
  color: #656565;
  margin-top: 5%;
}

.reviews {
  width: 47%;
  float: left;
}

.review {
  margin-top: 10%;
}

.review:first-of-type {
  margin-bottom: 15%;
}

.review p {
  color: #959595;
  font-size: 120%;
  margin-top: 15px;
}

.quote {
  font-size: 18px;
  width: 500px;
  padding: 1.6em 60px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

.quote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 150px;
  position: absolute;
  left: -20px;
  top: -30px;
  color: #E1E1E1;
}

.team {
  width: 50%;
  float: right;
  margin: 0 auto;
}

.team-member {
  margin-top: 7%;
  height: 20vh;
  width: 100%;
}

.team-member:first-of-type {
  margin-bottom: 10%;
}

.team-member img {
  width: 25%;
  height: 22vh;
  border: 3px solid #c3c3c3;
  float: left;
}

.team-member .team-text {
  float: left;
  width: 70%;
  height: 100%;
  margin-left: 20px;
  margin-top: 15px;
}

.team-text p {
  color: #959595;
  font-size: 120%;
  width: 100%;
  margin: 0;
  margin-top: 2%;
}

.work {
  margin-top: 5%;
  width: 94%;
  height: 50vh;
  margin-left: 3%;
  margin-right: 3%;
}

.work .latest {
  float: left;
  width: 20%;
  height: 100%;
}

.latest h1 {
  color: #656565;
  margin-top: 0;
}

.latest p {
  color: #656565;
}

.gallery {
  float: right;
  width: 80%;
}

.gallery-image {
  width: 31%;
  display: inline-block;
}

.gallery-image img {
  width: 22vw;
  height: 30vh;
  box-shadow: 0px 30px 10px -25px rgba(0, 0, 0, 1);
}

.gallery-image p {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #656565;
}

.gallery-image a {
  text-decoration: none;
  color: orange;
}

.left {
  float: left;
  margin-left: 20px;
}

.center {
  margin-left: 30px;
}

.right {
  float: right;
}

#twitter {
  height: 25vh;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}

#twitter img {
  width: 15%;
  height: 70%;
  padding-top: 2%;
  float: left;
}

#twitter p {
  float: right;
  width: 72%;
  margin-top: 5%;
  margin-right: 7%;
  color: #656565;
  font-size: 125%;
}

#footer {
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: row column;
}

.footer-section {
  width: 20%;
  margin-left: 80px;
  padding-top: 1%;
  flex: 1 1 100%;
  color: #5D5D5D;
}

.footer-section h3 {
  color: #424242;
}

.footer-section h5 {
  font-size: 95%;
}

.footer-section:first-of-type {
  margin-left: 15px;
}

.contact-details ul {
  list-style-type: none;
  padding: 0;
}

.contact-details li {
  margin-top: 1%;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links li {
  margin-top: 6%;
  border-bottom: 1px solid gray;
  padding-bottom: 7px;
  color: orange;
}

.blog > h6, p {
  margin: 0;
}

.blog h3 {
  margin-bottom: 4%;
}

.blog p {
  margin-top: 3%;
}

.blog .blog-title {
  margin-top: 0;
  color: #8A8A8A;
}

.blog a {
  float: right;
  margin-top: 10%;
  text-decoration: none;
  color: orange;
}

.newsletter  .input {
  width: 87%;
  background-color: #343434;
  border: none;
  margin-top: 4%;
  border-radius: 5px;
  height: 15%;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 105%;
}

.newsletter .button {
  background-color: #373330;
  color: orange;
  border: none;
  height: 13%;
  width: 40%;
  font-size: 110%;
  margin-top: 3%;
  border-radius: 5px;
}

.info {
  height: 10vh;
  background-color: black;
  margin-top: 15px;
  color: #434343;
}

.copyright {
  float: left;
  margin-left: 20px;
  font-weight: normal;
}

.template {
  float: right;
  margin-right: 20px;
  font-weight: normal;
}
